# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.env
.env.*

# =========================
# Django / Flask
# =========================
*.log
local_settings.py
db.sqlite3
instance/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS / System
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Docker
# =========================
docker-compose.override.yml
*.env
